ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 720px;
    background: #159cb0 url(imgs/fundo-horizontal.png) repeat-x;
    float: left;
}

ul li{
    float: left;
}

ul a{
    display: block;
    text-decoration: none;
    padding: 0 2em;
    line-height: 40px;
    color: black;
    background: url(imgs/divisor.png) repeat-y;
}

ul .primeiro a{
    background: none;
}

ul a:hover{
    background-color: #44cade;
    color: #085662;
}